GROQ_API_KEY=""

ELEVENLABS_API_KEY=""
# Waehle eine mehrsprachige bzw. deutsche Stimme, damit Bobs Sprachnachrichten
# nicht mit englischem Akzent klingen. Das TTS-Modell (eleven_flash_v2_5) ist mehrsprachig.
ELEVENLABS_VOICE_ID=""

TOGETHER_API_KEY=""

QDRANT_URL=""
QDRANT_API_KEY=""

WHATSAPP_PHONE_NUMBER_ID = ""
WHATSAPP_TOKEN = ""
WHATSAPP_VERIFY_TOKEN = ""
